name: Extract and Release

on:
  workflow_dispatch:
    inputs:
      ROM_URL:
        description: "ROM_URL"
        required: true
        default: "https://pixeldrain.com/api/file/WdArNVpq"
      DEVICE_NAME:
        description: "DEVICE_NAME"
        required: true
        default: "spes"
      ROM_NAME:
        description: "ROM_NAME"
        required: true
        default: "aospa-topaz-beta-2-spes-20230217.zip"
      EXTRACTED_FILES:
        description: "EXTRACTED_FILES"
        required: true
        default: "boot.img, dtbo.img, product.img, system.img, system_ext.img"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download file
        run: curl -LJO ${{ github.event.inputs.ROM_URL }}

      - name: Extract Payload
        run: |
          chmod u+x .github/scripts/android-ota-extractor
          .github/scripts/android-ota-extractor ${{ github.event.inputs.ROM_NAME }}
          echo -e "\n\e[31mDeleting files larger than 2GB...\e[0m"
          find . -maxdepth 1 -type f -size +2G -print -delete

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ${{ github.event.inputs.EXTRACTED_FILES }}
          name: ${{ github.event.inputs.DEVICE_NAME }}-${{ github.run_id }}
          tag_name: ${{ github.run_id }}
          body: |
            Device: ${{ github.event.inputs.DEVICE_NAME }}
            Rom: [${{ github.event.inputs.ROM_NAME }}](${{ github.event.inputs.ROM_URL }})
            Files: ${{ github.event.inputs.EXTRACTED_FILES }}
